<% @past_bookings.each do |booking| %>
  <div class="past-booking-card d-flex">
    <div class="avatar-box vert-center">
      <%= link_to therapist_path(booking.therapist) do %>
      <%= cl_image_tag booking.therapist.photo, width: 140, class: "avatar-small mb-3" %>
      <% end %>
    </div>

    <div class="past-info d-flex flex-column justify-content-around ml-3">
     <div class="flex-1 d-flex flex-column justify-content-between">
      <div class="info">
        <h5> <%= booking.starts_at.strftime("%A, %d %B") %>
           at <%= booking.time.strftime("%H:%M")%>
        </h5>
         <% if booking.free %>
         <h6> 15 Minute consultation </h6>
         <% else %>
         <h6> 60 Minute Session</h6>
         <% end %>
         <h6>with Dr. <%= booking.therapist.first_name %> <%= booking.therapist.last_name %> </h6>
        </div>
      </div>
          <div class="button-container d-flex justify-content-around">
        <% therapist = booking.therapist %>
        <% if @user_therapist != therapist %>
        <%= link_to therapist_assign_me_path(therapist) do %>
        <div class="mr-1">
          Assign as my therapist
        </div>
        <% end %>
        <% end %>
        <% reviewed = @my_reviews.where(therapist: therapist) %>
        <% if reviewed.blank? %>
        <%= link_to "Leave Review", new_therapist_review_path(therapist), class: "ml-1" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

